* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(223, 223, 223);
}

button {
    padding: 5px;
}

.alturaP, .pesoP, #cronometro{
    margin: 20px;
}

.crono{
    margin-bottom: 20px;
}

.butao {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.se {
    width: 300px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

.imc {
   
    text-align: center;
}

.crono {
    text-align: center;
}

.dogo {
    width: 200px;
}

.card {
    background: cyan;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.msgErro {
    background: rgb(255, 0, 64);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 0;
    width: 100%;
    height: 40px;
    visibility: hidden;
    transform: translateY(-30px);
    transition: transform 0.5s;
    width: 100%;
    
}

.msgErro.open{
    visibility: visible;
    transform: translateY(0);
}

.close {
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
}

.close:hover{
    transform: scale(1.1);
}

.result {
    position: relative;
}

.resultado {
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0 , 0.7);
    display: grid;
    place-content: center;
    visibility: hidden;
}

.resultado.open {
    visibility: visible;
}



